<div class="all-map">
	<% @users.each do |user| %>
		<div class="user-map">
			<%= link_to user_path(user) do %>	
				<%= show_avator(user) %>
			<% end %>
			<div class="arrow_box">
				<p><%= user.name %></p>
				<p><%= user.email %></p>				
			</div>
		</div>
	<% end %>	
</div>

<%= will_paginate %>

<script>

$('img').each(function(){

	var topVal = Math.random()*130;
	var wideVal = Math.random()*100;

	topPercent = topVal + "px";
	widePixcel = wideVal + "%";

	$(this).css({'top': topPercent ,'left': widePixcel });
})


$(function () {
  $('img').hover(function() {
    $(this).parents('.user-map').children('.arrow_box').show();
  }, function(){
    $(this).parents('.user-map').children('.arrow_box').hide();
  });
});

$(function () {
  $('.arrow_box').hover(function() {
    $(this).show();
  }, function(){
    $(this).hide();
  });
});

$('img').each(function(){
  var off = $(this).offset();
  console.log('top: ' + off.top);
  console.log('left: ' + off.left);
  var top_val = off.top + 120;
  $(this).parents('.user-map').children('.arrow_box').css({'top':top_val,'left':off.left});
});


</script>