<h1>Users</h1>
<div class="row">
	<% @users.each do |user| %>
	<div class="col-lg-6 offset-4">
		<div class="media mb-3">
			<div class="align-self-center">
			</div>
			<div class="media-body ml-2">
				<%= show_avator(user) %>

				<h3><%= link_to user.name, (user_path(user.id)) %></h3>
				<h3><%= user.email %></h3>
				
				<% if user.admin? %>
					<h1 style="color: red">Guild Master </h1>
					<p>don't go against me</p>
				<% end %>

				<% if current_user.admin? %>
					<% if !current_user?(user) %>
						<%= link_to "Delete", user_path(user.id), method: :delete, class: "btn btn-danger" %>
					<% end %>
				<% end %>
			</div>

		</div>
	</div>
	<% end %>
	<div class="container paginate text-center offset-5">
		<%= will_paginate %>
	</div>
</div>
