<h1><%= @user.name %></h1>
<h1><%= @user.email %></h1>

<% if current_user.following?(@user) %>

	<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }, remote: true) do |f|  %>
		<%= f.submit "Unfollow", class: "btn btn-danger btn-block" %>
	<% end %>

<% else %>

	<%= form_for(current_user.active_relationships.build ,remote: true) do |f| %>
		<div><%= hidden_field_tag :followed_id, @user.id %></div>
									<!-- params[:followed_id]-->
		<%= f.submit "Be friend", class: "btn btn-primary btn-block" %>
	<% end %>

<% end %>


<%= link_to "Edit", edit_user_path(@user.id) %>