<%= form_for [:admin, @category] do |f| %>
<%= render "shared/error_messages", object: f.object %>

<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title, class: "form-control", placeholder: "ENTER QUEST NAME" %>				
</div>

<div class="form-group">
	<%= f.label :description %>
	<%= f.text_area :description, class: "form-control", placeholder: "TELL US DESCRIPTION" %>				
</div>

<div class="form-group">
	<%= f.submit "CREATE ANOTHER MENACE", class: "btn btn-success"%>	
	<%= link_to "I'll leave it", :back , class: "btn btn-dark" %>			
</div>

<% end %>