<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<!--   <a class="navbar-brand" href="#">AwesomeBlog</a> -->
  <%= link_to "JAPAN QUEST", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    
    <ul class="navbar-nav ml-auto">

      <li class="nav-item active jq">
        <ul>
        <%= link_to root_path do %>
          <li><%= embedded_svg("icon/NEOICON1.svg", class: "icon") %></li>
          <li class="word">HOME</li>
        <% end %>          
        </ul>
      </li>

      <li class="nav-item active jq">
        <ul>
        <%= link_to "#" do %>
          <li><%= embedded_svg("icon/NEOICON2.svg", class: "icon") %></li>
          <li class="word">ABOUT</li>
        <% end %>          
        </ul>
      </li>

        <% if current_user != nil %>

          <li class="nav-item active jq">
            <ul>
            <%= link_to users_path do %>
              <li><%= embedded_svg("icon/NEOICON3.svg", class: "icon") %></li>
              <li class="word">Users</li>
            <% end %>          
            </ul>
          </li>

          <li class="nav-item active jq">          
            <ul>
            <%= link_to user_path(current_user.id) do %>
              <li><%= embedded_svg("icon/NEOICON4.svg", class: "icon") %></li>
              <li class="word">Profile</li>
            <% end %>          
            </ul>
          </li>

          <li class="nav-item active jq">          
            <ul>
            <%= link_to edit_user_path(current_user.id) do %>
              <li><%= embedded_svg("icon/NEOICON1.svg", class: "icon") %></li>
              <li class="word">Settings</li>
            <% end %>          
            </ul>
          </li>

          <li class="nav-item active jq">          
            <ul>
            <%= link_to logout_path, method: :delete do %>
              <li><%= embedded_svg("icon/NEOICON2.svg", class: "icon") %></li>
              <li class="word">Logout</li>
            <% end %>          
            </ul>
          </li>

         <% if current_user.admin? %>
          <li class="nav-item active">
            <ul>
              <%= link_to "/admin/home" do %>
              <li><%= embedded_svg("icon/NEOICON4.svg",class: "icon") %></li>
              <li class="word">MASTER'S ROOM</li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% else %>

          <li class="nav-item active jq">          
            <ul>
            <%= link_to login_path do %>
              <li><%= embedded_svg("icon/NEOICON4.svg", class: "icon") %></li>
              <li class="word">Login</li>
            <% end %>          
            </ul>
          </li>

          <li class="nav-item active jq">          
            <ul>
            <%= link_to new_user_path do %>
              <li><%= embedded_svg("icon/NEOICON1.svg", class: "icon") %></li>
              <li class="word">SIGNUP</li>
            <% end %>          
            </ul>
          </li>
        <% end %>

 
    </ul>


  </div>
</nav>

